In [51]:
my_name = "Pierre"
print (my_name)

Pierre

In [52]:
age_pierre = 34
print(age_pierre)

34

In [53]:
age_julia = 32
age_diff=age_pierre - age_julia 
print(age_diff)

2

In [54]:
if age_pierre > 21:
    print ("You are older than 21") 
else:
    print("You are not older than 21")

You are older than 21

In [55]:
if age_pierre < age_julia:
    print ("Julia is older than you ")
elif age_pierre == age_julia:
    print ("You have the same age as Julia")
else:
    print("Julia is younger than you")

Julia is younger than you

Ex 6 - List

In [56]:
class_list = ["Gabi", "Pierre", "Andrés", "Oti", "Lucas", "Patricia", "Muayad", "Killian"]
len(class_list)

8

In [57]:
class_list.sort()
print (class_list)

['Andrés', 'Gabi', 'Killian', 'Lucas', 'Muayad', 'Oti', 'Patricia', 'Pierre']

In [58]:
class_list [0]

'Andrés'

In [59]:
class_list[-1]

'Pierre'

In [60]:
for name in class_list:
    print (name)

Andrés
Gabi
Killian
Lucas
Muayad
Oti
Patricia
Pierre

In [61]:
age_andres = 21
age_gabi = 24
age_oti = 22
age_lucas = 33
age_patricia = 45
age_muayad = 33
age_killian = 40

class_age = [age_andres, age_gabi, age_pierre, age_killian, age_lucas, age_patricia, age_oti, age_muayad]
print(class_age)

[21, 24, 34, 40, 33, 45, 22, 33]

In [62]:
class_age.sort()
print(class_age)

[21, 22, 24, 33, 33, 34, 40, 45]

In [63]:
for age in class_age:
    print (age)

21
22
24
33
33
34
40
45

In [64]:
for age in class_age:
    if age % 2 ==0:
        print (age)

22
24
34
40

In [65]:
age = 0

while age < len (class_age):
    if class_age[age] % 2 == 0:
        print(class_age[age])
    age += 1

22
24
34
40

In [66]:
number_list = [34, 65, 369, 10, 200]

In [67]:
lowest_number = min(number_list)
print(lowest_number)

10

In [68]:
highest_number = max(number_list)
print(highest_number)

369

Exercise 10

In [69]:
birthyear_customers = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

birthyear_customers.sort()
print (birthyear_customers)

[1979, 1994, 1995, 1996, 1999, 2005, 2006, 2007, 2008, 2010]

In [70]:
for year in birthyear_customers:
    print(year)

1979
1994
1995
1996
1999
2005
2006
2007
2008
2010

In [71]:
current_year = 2024

for year in birthyear_customers:
    age = current_year - year
    print (age)

45
30
29
28
25
19
18
17
16
14

Exercise 11

In [72]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

In [73]:
d = {"name": ["Bob","Jack" ,"Lisa"], "age": 1999}
d["name"][1]

'Jack'

In [74]:
customer_list[0]["age"][]

SyntaxError: invalid syntax (2591121620.py, line 1)

In [ ]:
len(customer_list)

10

In [ ]:
for item in customer_list:
    print(item)

{'name': 'Bob', 'age': 1999}
{'name': 'Jack', 'age': 1995}
{'name': 'Lisa', 'age': 2005}
{'name': 'Maria', 'age': 2010}
{'name': 'Ben', 'age': 2007}
{'name': 'Emma', 'age': 2006}
{'name': 'Oscar', 'age': 1994}
{'name': 'Amy', 'age': 1996}
{'name': 'Paul', 'age': 1979}
{'name': 'Etta', 'age': 2008}

In [ ]:
for customer in customer_list:
    print(customer["name"], customer["age"])

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008

In [ ]:
current_year = 2024

for customer in customer_list:
    age = current_year - customer["age"]
    print(customer["name"], age)

Bob 25
Jack 29
Lisa 19
Maria 14
Ben 17
Emma 18
Oscar 30
Amy 28
Paul 45
Etta 16

In [ ]:
for customer in customer_list:
    print (customer["name"] , "is" , age , "years old.")

Bob is 16 years old.
Jack is 16 years old.
Lisa is 16 years old.
Maria is 16 years old.
Ben is 16 years old.
Emma is 16 years old.
Oscar is 16 years old.
Amy is 16 years old.
Paul is 16 years old.
Etta is 16 years old.

Exercise 12:

In [75]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

First method keeping the order of items

In [76]:
# Initialize smallest and largest with the first element
smallest = largest = ages[0]

# Find the smallest and largest values in the list
for age in ages:
    if age < smallest:
        smallest = age
    if age > largest:
        largest = age

# Remove the smallest and largest values from the list
ages.remove(smallest)
ages.remove(largest)

In [ ]:
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

Second Method

In [ ]:
ages.sort()
print(ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]

In [ ]:
ages.pop(0)
ages.pop(-1)
print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

Exercise 13

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

common_ages = [age for age in berlin if age in munich]
print (common_ages)

[15, 13, 16, 18, 19, 10]

In [ ]:
common_ages.sort()
print(common_ages)

[10, 13, 15, 16, 18, 19]

Exercise 14

In [ ]:
age_list = [15,13,16,18,19,15,10]

filtered_list = set(age_list)
# set(age_list): Converts age_list into a set. A set is another built-in data type in Python, similar to a list, 
# but it is unordered and cannot contain duplicate elements. 
#By converting the list into a set, any duplicate ages are removed.

print(filtered_list)

[10, 13, 15, 16, 18, 19]

In [ ]:
age_list = [15,13,16,18,19,15,10]

filtered_list = []

for item in age_list:
    if item not in filtered_list:
        filtered_list.append(item)
print(filtered_list)

[15, 13, 16, 18, 19, 10]

Exercise 15

In [ ]:
def welcome (name):
    print ("Welcome", (name), "have a nice day!")

In [ ]:
welcome("Evelyn")

Welcome Evelyn have a nice day!

In [ ]:
welcome("Jost")

Welcome Jost have a nice day!

Exercise 16

In [ ]:
def get_length (item):
    return len(item)

In [ ]:
get_length ('Hello')

5

In [ ]:
get_length('Hi')

2

In [ ]:
name = ("Pierre")
print(len(name))

6

Exercise 17

In [ ]:
def check_even(item):
    if item %2==0:
        print("Yes")
    else: 
        print("No")

In [ ]:
check_even(2)

Yes

In [ ]:
check_even(5)

No

Exercise 11 with function

In [ ]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

In [ ]:
def cleaned_list (customer):
    for customer in customer_list:
        print(customer["name"],"is", customer["age"])
current_year = 2024

for customer in customer_list:
    age = current_year - customer["age"]
    print (customer["name"] , "is" , age , "years old.")

Bob is 25 years old.
Jack is 29 years old.
Lisa is 19 years old.
Maria is 14 years old.
Ben is 17 years old.
Emma is 18 years old.
Oscar is 30 years old.
Amy is 28 years old.
Paul is 45 years old.
Etta is 16 years old.

In [ ]:
cleaned_list (customer)

Bob is 1999
Jack is 1995
Lisa is 2005
Maria is 2010
Ben is 2007
Emma is 2006
Oscar is 1994
Amy is 1996
Paul is 1979
Etta is 2008

Exercise birthday

In [ ]:
def best_wishes (name):
    print ("Happy Birthday", (name), "Love you <3")

In [ ]:
best_wishes ("Bartosz,")

Happy Birthday Bartosz, Love you <3

In [ ]:
Exercise 12

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]


def ages_removed (name):
    smallest = largest = name[0]
    
    for x in name:
        if x < smallest:
            smallest = x
        if x > largest:
            largest = x
        
    name.remove(smallest)
    name.remove(largest)
    return name

In [ ]:
ages_removed (ages)

[20, 24, 14, 12, 13, 25, 23, 11]

Exercise 13

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def common_ages_1 (list_1, list_2):
    result=[]
    for age in list_1:
     if age in list_2:
       result.append(age)
    return result

In [ ]:
common_ages_1(berlin, munich)

[15, 13, 16, 18, 19, 10]

In [ ]:
def common_age_2 (list_1, list_2):
    return [age for age in list_1 if age in list_2]

In [ ]:
common_age_2(berlin, munich)

[15, 13, 16, 18, 19, 10]

Exercise 14

In [ ]:
age_list = [15,13,16,18,19,15,10]

def filtered_list (no_duplicate_list):
    return (set(no_duplicate_list))

In [ ]:
filtered_list(age_list)

{10, 13, 15, 16, 18, 19}

Méthode 2

In [ ]:
age_list = [15,13,16,18,19,15,10]

def filtered_list (no_duplicate_list):
    result = []
    for age in no_duplicate_list:
        if age not in result:
            result.append(age)
    return result

In [ ]:
filtered_list(age_list)

[15, 13, 16, 18, 19, 10]

Exercise 19

In [ ]:
list_of_age = (13, 15, 17, 19, 21, 50)

def age_checking (num):
    if num in list_of_age:
        print ("True")
    else:
        print ("False")

In [ ]:
age_checking(13)

True

In [ ]:
list_of_age = (13, 15, 17, 19, 21, 50)


def age_checking ():
    num = int(input("Please, enter a number"))
    if num in list_of_age:
        print ("True")
    else:
        print ("False")

In [ ]:
age_checking()

True

Exercise Extra beginner ChocoBury

In [ ]:
Q1

In [ ]:
list_9 = [1999,1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]



def list_with_age (x):
    result = []
    current_year = 2024
    for num in x:
        age=current_year-num 
        result.append(age)
    return result

In [ ]:
list_with_age (list_9)

[25, 29, 19, 14, 17, 18, 30, 28, 45, 16]

In [ ]:
def list_with_age (list_9):
    current_year = 2024
    return [current_year - year for year in list_9]

In [ ]:
list_with_age (list_9)

[25, 29, 19, 14, 17, 18, 30, 28, 45, 16]

Q2

In [ ]:
def ages_removed(list_with_age):
    smallest = largest = list_with_age[0]
    
    for x in list_with_age:
        if x < smallest:
            smallest = x
        if x > largest:
            largest = x
        
    list_with_age.remove(smallest)
    list_with_age.remove(largest)
    return list_with_age

In [ ]:
ages_removed(list_with_age(list_9))

[25, 29, 19, 17, 18, 30, 28, 16]

Q3

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def common_list (berlin, munich):
    result=[]
    for age in berlin:
     if age in munich:
       result.append(age)
    return result

In [ ]:
common_list(berlin, munich)

[15, 13, 16, 18, 19, 10]

Q4

Méthode 1: set

In [ ]:
list_7 = [15,13,16,18,19,15,10]

def no_duplicate (list_7):
    return set(list_7)

In [ ]:
no_duplicate (list_7)

{10, 13, 15, 16, 18, 19}

Méthode 2 en partant d'une liste vide

In [ ]:
def no_duplicate_2 (list_7):
    result = []
    for item in list_7:
        if item not in result:
            result.append(item)
    return result

In [ ]:
no_duplicate_2(list_7)

[15, 13, 16, 18, 19, 10]

Q5 !!!!!!!!!!

In [ ]:
list_henry = (15,13,16,18,19,15,10)

def age_control (x):
    num = int(input ("Enter age, please"))
    if num in x:
        print ("True")
    else: 
        print ("False")

In [ ]:
age_control(list_henry)

True

Exercise extra

Set 1

In [ ]:
list_set1 = [2, 6, 8, 9, 10]
age=0
while age < len (list_set1):
    if list_set1[age] % 2 == 0:
        list_set1.append[age]
        print(list_set1[age])
    age += 1

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
list_set1 = [2, 6, 8, 9, 10]
list_set2 = [1, 3, 5, 7, 8]


def num_removed (any_list):
    new_list = []
    for intruder in any_list:
        if intruder  % 2 == 0:
    intruder = any_list[0]

    
    for x in any_list:
        if x % 2 == 0: 
            intruder = x
        elif x % 2 == 1:
            intruder = x
        
    new_list.append(intruder)
    return new_list

In [86]:
list_set1 = [2, 6, 8, 9, 10]
list_set2 = [1, 3, 5, 7, 8]
def num_removed(list_set1, intruder):
    if intruder in list_set1:
        print(intruder)  
        list_set1.remove(intruder) 
    else:
        print("No intruder found.")
    return list_set1

In [88]:
num_removed(list_set1, 9)

9

[2, 6, 8, 10]

In [87]:
num_removed(list_set2, 8)

8

[1, 3, 5, 7]

In [90]:
list_set1 = [2, 6, 8, 9, 10]
list_set2 = [1, 3, 5, 7, 8]

def num_removed (any_list):
    odd_list = []
    even_list = []
    for x in any_list:
        if x % 2 != 0:
            odd_list.append(x)
        elif x % 2 == 0:
            even_list.append(x)
    if len(odd_list) <=1:
        return odd_list[0]
    else:
        return even_list[0]

In [91]:
num_removed (list_set1)

9

In [92]:
num_removed (list_set2)

8

In [99]:

list_set1 = [2, 6, 8, 9, 10]
list_set2 = [1, 3, 5, 7, 8]

def num_removed(list_set1):
    even_count = sum(1 for num in list_set1 if num % 2 == 0)
    odd_count = len(list_set1) - even_count
    
    if even_count < odd_count:
        return [num for num in list_set1 if num % 2 == 0]
    else:
        return [num for num in list_set1 if num % 2 != 0]

In [100]:
num_removed(list_set2)

[8]

In [96]:
num_removed(list_set1)

[2, 6, 8, 10]